// ヘッダー
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $Montserrat;
  transition: .8s;
  font-weight: bold;
}

header{
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 100;

  > a {
    display: flex;
    align-items: center;
    margin-left: 3.5%;
  }

  img{
    width: 124px;
  }

  ul{
    display: flex;
    align-items: center;

    li{
      display: block;
      padding-left: 10px;

      a{
        height: 100%;
        display: block;
        font-size: 14px;
        line-height: 16px;
        transition: .3s;
        opacity: 1;
        padding-left: 15px;
        position: relative;

        span{
          display: block;
          font-size: 12px;
          font-weight: normal;
        }

        &::after{
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.203' height='12.598' viewBox='0 0 7.203 12.598'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230071bc;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M16.278,12.493,11.511,7.729a.9.9,0,0,1,0-1.271.908.908,0,0,1,1.275,0l5.4,5.4a.9.9,0,0,1,.026,1.241L12.79,18.531a.9.9,0,1,1-1.275-1.271Z' transform='translate(-11.246 -6.196)'/%3E%3C/svg%3E");
          display: block;
          width: 7.2px;
          height: 12.6px;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          left: 0px;
          top: 2px;
        }

        &:hover{
          opacity: .3;
        }
      }
    }
    .menu{
      width: 110px;
      display: block;

      @include sp($md){
        display: none;
      }
    }

    .target_link{
      width: 180px;
      height: 100%;
      font-size: 15px;
      background: transparent linear-gradient(111deg, #0665F8 0%, #036BDA 59%, #0099FF 100%) 0% 0% no-repeat padding-box;

      a{
        padding: 28px 0px 0px;
        color: #fff;
        text-align: center;
        font-weight: normal;
      }
    }
  }
}

footer{
  width: 100%;

  .footer_top{
    background-color: #111111;
    padding: 65px 0px;
    @include flex(center, center);

    .footer-logo{
      margin: 0px 32px;

      @include sp($md){
        width: auto;
        height: 32px;
        margin: 0px 6px;
      }
    }
  }

  .footer_bottom{
    background-color: #ACACAC;
    padding: 13px 0px;

    p{
      font-size: 14px;
      text-align: center;
      color: #fff;
      font-weight: normal;
      line-height: 29px;
    }
  }
}
