.kv_wrapper{
  position: relative;
  margin-top: 70px;
  &::before{
    @include sp($md){
      content: '';
      display: block;
      width: 100%;
      height: 99.8%;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #00000066 0% 0% no-repeat padding-box;
    }
  }
  img{
    width: 100%;
    object-fit: cover;
  }

  .kv-text{
    @include fontSize(42px);
    letter-spacing: 1.8;
    color: #ffffff;
    left: 11.3vw;
    top: 38%;
    position: absolute;
    line-height: 52px;

    @include sp($md){
      font-size: 24px;
    }
  }
}